@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "../vendor/daisyui/daisyui.index.js"{
    themes: all;
}

@source "../vue";
@source "../../templates/";
@source inline("alert-{danger,success,error,warning,info}");
@source inline("bg-red-600 bg-white/10 backdrop-blur-sm");
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: 'Outfit', 'sans-serif';
    --font-display--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    --font-display--font-variation-settings: 'opsz' 32;
}

@custom-variant dark (&:where(
    [data-theme=dark], [data-theme=dark] *,
    [data-theme=synthwave], [data-theme=synthwave] *,
    [data-theme=halloween], [data-theme=halloween] *,
    [data-theme=forest], [data-theme=forest] *,
    [data-theme=aqua], [data-theme=aqua] *,
    [data-theme=black], [data-theme=black] *,
    [data-theme=luxury], [data-theme=luxury] *,
    [data-theme=dracula], [data-theme=dracula] *,
    [data-theme=business], [data-theme=business] *,
    [data-theme=night], [data-theme=night] *,
    [data-theme=coffee], [data-theme=coffee] *,
    [data-theme=dim], [data-theme=dim] *,
    [data-theme=sunset], [data-theme=sunset] *,
    [data-theme=abyss], [data-theme=abyss] *,
));

